@use "../custom" as *;

.sam {
  padding: 0 0 5rem 0;

  &__pro1 {
    width: 50%;
    @include media-breakpoint-up(md) {
      width: 25%;
    }
    &__img {
      height: 100%;
    }
  }

  &__skill-box {
    max-width: 100%;
    margin-bottom: 2rem;
    padding: 0.5rem;
    text-align: center;
    position: relative;

    h6 {
      &:hover {
        color: $primary;
      }
    }
  }

  &__logo-box {
    max-width: 100%;
    height: 4rem;
    margin-bottom: 2rem;
    padding: 0.5rem;
    text-align: center;
    position: relative;

    &-btn {
      max-width: 100%;
      height: 4rem;
      margin-bottom: 2rem;
      padding: 0.5rem;
      text-align: center;
      position: relative;
      img {
        height: 100%;

        &:hover {
          filter: grayscale(20);
        }
      }
    }
  }
}
